<%= form_for @recipe do |f| %>
  <% if recipe.errors.any? %>
    <div class="alert alert-danger">
        <h4><%= pluralize(recipe.errors.count, "error") %>.</h4>
        <ul>
          <% recipe.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
    </div>
  <% end %>
  
  <%= form_group_tag(@recipe.errors[:title]) do %>
    <%= f.label :title %>
    <%= f.text_field :title, class: 'form-control', placeholder: "Enter recipe title" %>
  <% end %>
  
  <%= form_group_tag(@recipe.errors[:servings]) do %>
    <%= f.label :servings %>
    <%= f.text_area :servings, class: 'form-control', placeholder: "Number of servings" %>
  <% end %>
  
  <%= form_group_tag(@recipe.errors[:quantity]) do %>
    <%= f.label :quantity %>
    <%= f.text_area :quantity, class: 'form-control', placeholder: "Enter quantity" %>
  <% end %>
  
  <%= form_group_tag(@recipe.errors[:ingredients]) do %>
    <%= f.label :ingredients %>
    <%= f.text_area :ingredients, rows: 8, class: 'form-control', placeholder: "Enter ingredients" %>
  <% end %>
  
  <%= form_group_tag(@recipe.errors[:body]) do %>
    <%= f.label :body %>
    <%= f.text_area :body, rows: 8, class: 'form-control', placeholder: "Enter recipe directions" %>
  <% end %>

  <div class="form-group">
    <%= f.submit "Save", class: 'btn btn-success' %>
  </div>
<% end %>