<h1>All Recipes</h1>

<%= form_tag(recipes_path, method: :get) do %>
  <%= text_field_tag :search, params[:search] %>
  <%= submit_tag 'Search', name: nil %>
<% end %>
<%= form_tag(recipes_path, method: :get) do %>
  <%= submit_tag 'Reset', name: nil %>
<% end %>
<br>

<div class="row">
    <div class="col-md-8">
    <% @recipes.each do |recipe| %>
        <div class="media">
            <div class="media-body">
                <h4 class="media-heading">
                    <%= link_to recipe.title, recipe %>
                </h4>
            </div>
        </div>
    
    <% end %>
    </div>
    <div class="col-md-4">
        <%= link_to "New Recipe", new_recipe_path(@recipe), class: 'btn btn-success' %>
    </div>
</div>

<div class="row">
    <div class="col-md-8"></div>
    <div class="col-md-4">
        <%= render partial: 'converter' %>
    </div>
</div>