<!DOCTYPE html>
<html>
<head>
  <title>Pantry Assistant</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'converter', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
    <ul class="nav nav-tabs">
      <li><%= link_to "Home", root_path %></li>
      <li><%= link_to "My Pantry", pantries_path %></li>
      <li><%= link_to "About", about_path %></li>
    </ul>
    
    <% if user_signed_in? %>
      Signed in as: <strong><%= current_user.email %></strong> |
      <%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %> - <%= link_to "Sign Out", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
    <% else %>
      <%= link_to "Sign Up", new_user_registration_path, :class => 'navbar-link'  %> -
      <%= link_to "Sign In", new_user_session_path, :class => 'navbar-link'  %>
    <% end %>
    
    <% if flash[:notice] %>
      <div class="alert alert-success">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <%= flash[:notice] %>
      </div>
    <% elsif flash[:alert] %>
      <div class="alert alert-warning">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <%= flash[:alert] %>
      </div>
    <% end %>
    <p>
      <label>FROM</label>
      <select id="init" onchange="converter(this.init)">
        <option value="tsp">tsp</option>
        <option value="tbsp">tbsp</option>
        <option value="cup">cup</option>
        <option value="pnt">pint</option>
        <option value="qt">quart</option>
        <option value="gal">gallon</option>
        <option value="oz">oz</option>
        <option value="lb">lb</option>
        <option value="g">grams</option>
        <option value="F">Fahrenheit</option>
        <option value="C">Celsius</option>
        <option value="K">Kelvin</option>
      </select>
      
      <input id="inputMeasurement" type="number" placeholder="Measurement" oninput="converter(this.value)" onchange="converter(this.value)">      
     
      <label>TO</label>
      
      <select id="result" onchange="converter(this.value)">
        <option value="tsp">tsp</option>
        <option value="tbsp">tbsp</option>
        <option value="cup">cup</option>
        <option value="pnt">pint</option>
        <option value="qt">quart</option>
        <option value="gal">gallon</option>
        <option value="oz">oz</option>
        <option value="lb">lb</option>
        <option value="g">grams</option>
        <option value="F">Fahrenheit</option>
        <option value="C">Celsius</option>
        <option value="K">Kelvin</option>
      </select>
      
    </p>
    <p><span id="output"></span></p>
    <%= yield %>
  </div>

</body>
</html>
